
.content-box
  h2 title
  .content
    .content__title
      | observer
    .content__body
      .l-section
        p.item00(data-id="0")
          | 0
      .l-section
        p.item01(data-id="1")
          | 1
      .l-section
        p.item02(data-id="2")
          | 2
      .l-section
        p.item03(data-id="3")
          | 3
