doctype html
html(lang="en")
 head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Document
 body
  .wrapper
    h2 title
    .content
      .content__title
        | Loding
      .content__body 
        .loader
          .bar 
          .bar 
          .bar 
          .bar 
          .bar 
          .bar 
          .bar 
          .bar 
          .bar 
          .bar 
        .loader.loader--reflect
          .bar 
          .bar 
          .bar 
          .bar 
          .bar 
          .bar 
          .bar 
          .bar 
          .bar 
          .bar 
    .animation
    .animation
    .animation
    .animation
    include components/_ob.pug 
  script(src="./js/index.js") 